<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="IsinOlsun-Android-Test-Suite" parallel="tests" thread-count="2">

    <test name="viettel plus app">
        <parameter name="udid" value="192.168.0.103:5656"/>
        <parameter name="platformVersion" value="11"/>
        <classes>
            <class name="tests.truemoney.FlightBooking"/>
        </classes>
    </test>




</suite>